<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".cs" #>

<#
	var Count = 5;
#>

namespace A {

<# for (int i=0; i < Count; i ++) {#>
	public class AAA<#=i #> {
		public string AAAAA {get; set;}
	}
<#} #>
}